<h1>Here are all of our wizards:</h1>

<a href="<%= new_user_url %>">Create New WiZzer!</a>
<ul>
    <% @users.each do |single_user| %>
        <li>
            <%= render 'user', user: single_user, action: :index %>
        </li>
        <br>
    <% end %>
</ul>